@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@200&family=Montserrat:wght@200&display=swap');

*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  color: #5a5a5a;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

title {
  display: none;
  color: black;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

#header-container {
  background-color: #e3e3e3;
  height: 50px;
  display: flex;
  align-items: center;
  position: relative;
}

#header-container #left h1 {
  font-size: 1.3rem;
  font-weight: bold;
}

#header-container #left a {
  text-decoration: none;
  color: #111;
}

#header-container nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 92vw;
  margin: 0 auto;
}

nav ul {
  position: absolute;
  right: 0;
  background-color: #5a5a5a;
  height: 100vh;
  width: 50%;
  position: fixed;
  top: 50px;
  transform: translateX(100%);
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -o-transform: translateX(100%);
  transition: 350ms;
  -webkit-transition: 350ms;
  -moz-transition: 350ms;
  -ms-transition: 350ms;
  -o-transition: 350ms;
}

.nav-active {
  transform: translateX(0%);
  -webkit-transform: translateX(0%);
  -moz-transform: translateX(0%);
  -ms-transform: translateX(0%);
  -o-transform: translateX(0%);
}

nav ul li {
  list-style-type: none;
  margin: 2rem 0;
}

nav ul li:nth-of-type(1) {
  margin-top: 4rem;
}

li a {
  text-decoration: none;
  font-size: 2rem;
  color: #fff;
}

#nav-ul-right button {
border: none;
background: transparent;
cursor: pointer;
}

#nav-ul-right button::after {
  display: block;
  content:"\f0c9";
  font-family: "fontawesome";
  font-size: 2.5rem;
}

#hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0,0.5)), url(https://images.pexels.com/photos/885013/pexels-photo-885013.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  height: 45vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#hero h2 {
font-size: 3rem;
color: #fff;
font-family: 'IBM Plex Serif', serif;
text-align: center;
/* color: black; */
}

main {
  width: 92vw;
  margin: 0 auto;
  padding: 3rem 0;
}

h3 {
  font-size: 2rem;
  padding: 2rem 0;
  font-weight: bold;
}

h4 {
  font-size: 1.5rem;
  padding: 1rem 0;
  text-transform: capitalize;
}

img {
  width: 100%;
  display: block;
}

p {
  line-height: 2rem;
  font-size: 1.5rem;
  text-align: justify;
}

section {
  margin: 2rem 0;
}

#latest-tours article {
  width: 100%;
  border: 1px solid #e3e3e3;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
  border-radius: .5rem;
  -webkit-border-radius: .5rem;
  -moz-border-radius: .5rem;
  -ms-border-radius: .5rem;
  -o-border-radius: .5rem;
}

article img {
  height: 200px;
  border-top-left-radius: .5rem;
  border-top-right-radius: .5rem;
}

article .article-info {
  padding: 1rem;
}

.article-info h3 {
  font-weight: bold;
  text-transform: capitalize;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.article-info a {
  text-decoration: none;
  background-color: #333;
  padding: .8rem 2rem;
  display: block;
  width: 100%;
  color: #fff;
  font-size: 1.3rem;
  text-transform: uppercase;
  margin: 1rem 0;
}

.article-info a:hover {
  background-color: #111;
  transition: all cubic-bezier(0.075, 0.82, 0.165, 1);
  -webkit-transition: all cubic-bezier(0.075, 0.82, 0.165, 1);
  -moz-transition: all cubic-bezier(0.075, 0.82, 0.165, 1);
  -ms-transition: all cubic-bezier(0.075, 0.82, 0.165, 1);
  -o-transition: all cubic-bezier(0.075, 0.82, 0.165, 1);
}

#video {
  width: 100%;
}

#video span {
  text-decoration: underline;
  font-style: italic;
}

iframe {
  flex: 0;
  width: 100%;
  height: 100%;
  border: 0;
  border-radius: .5rem;
  -webkit-border-radius: .5rem;
  -moz-border-radius: .5rem;
  -ms-border-radius: .5rem;
  -o-border-radius: .5rem;
}

#video div {
  flex: 0;
  background: #f2f2f2;
  padding: 2rem;
  width: 100%;
  border-radius: .5rem;
  -webkit-border-radius: .5rem;
  -moz-border-radius: .5rem;
  -ms-border-radius: .5rem;
  -o-border-radius: .5rem;
}

#contact-section #form-wrapper {
  width: 100%;
  margin: 0 auto;
  background-color: #f2f2f2;
  padding: 2rem;
  border-radius: .5rem;
  -webkit-border-radius: .5rem;
  -moz-border-radius: .5rem;
  -ms-border-radius: .5rem;
  -o-border-radius: .5rem;
}

#form-wrapper form {
  width: 100%;
}

form .input-group {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 2rem;
}

.form-controls label {
  text-align: left;
  display: block;
  padding: 1rem 0;
  font-size: 1.6rem;
}

.form-controls input {
  width: 100%;
  padding: 1rem;
  outline: none;
  font-family: inherit;
  font-size: 1.5rem;
  display: block;
}

form button {
  background-color: #333;
  font-size: 1.6rem;
  color: #fff;
  border: none;
  cursor: pointer;
  display: block;
  padding: 1rem 2rem;
  border-radius: .5rem;
  -webkit-border-radius: .5rem;
  -moz-border-radius: .5rem;
  -ms-border-radius: .5rem;
  -o-border-radius: .5rem;
  margin: 2rem 0rem 1rem 0rem;
}

form button:hover {
  background-color: #111;
  transition: all cubic-bezier(0.075, 0.82, 0.165, 1);
  -webkit-transition: all cubic-bezier(0.075, 0.82, 0.165, 1);
  -moz-transition: all cubic-bezier(0.075, 0.82, 0.165, 1);
  -ms-transition: all cubic-bezier(0.075, 0.82, 0.165, 1);
  -o-transition: all cubic-bezier(0.075, 0.82, 0.165, 1);
}

footer {
  background-color: #111;
  color: #fff;
  text-align: center;
  padding: 2rem 0;
  width: 100%;
}

footer span {
  font-size: 2rem;
  font-style: italic;
}

/* Media query */
@media only screen and (min-width: 768px) {
  #header-container nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 75vw;
    margin: 0 auto;
  }
  
  #header-container {
    background-color: #e3e3e3;
    height: 70px;
    display: flex;
    align-items: center;
  }
  
  #header-container #left h1 {
    font-size: 1.5rem;
  }
  
  #header-container #left h1 {
    font-size: 3rem;
  }

  nav ul {
    display: flex;
    justify-content: center;
    gap: 2rem;
    position: relative;
    background-color: #f2f2f2;
    height: 0;
    top: 0;
    transition: 0ms;
    -webkit-transition: 0ms;
    -moz-transition: 0ms;
    -ms-transition: 0ms;
    -o-transition: 0ms;
}
  
  nav ul li {
    margin: 0rem;
  }
  
  nav ul li:nth-of-type(1) {
    margin-top: 0rem;
  }
  
  #nav-ul-right button {
    display: none;
  }
  
  li a {
    font-size: 1.6rem;
    color: #5a5a5a;
  }
  
  #hero {
    height: 56vh;
  }
  
  #hero h2 {
    font-size: 7rem;
    }
    
    main {
      width: 75vw;
      padding: 3rem 0;
    }
    
    h3 {
      font-size: 3rem;
    }
    
    h4 {
      font-size: 2rem;
    }
    
    p {
      line-height: 2.5rem;
      font-size: 1.7rem;
    }
    
    section {
      margin: 2rem 0;
    }
    
    main #latest-tours {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 2rem;
    }
    
    #video {
      display: flex;
      gap: 2rem;
    }
    
    iframe {
      flex: 4;
      width: auto;
      height: 315px;
      border: 0;
    }
    
    #video div {
      flex: 2;
    }
    
    
    #contact-section #form-wrapper {
      width: 80%;
    }
    
    form .input-group {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 2rem;
    }
    
    #latest-tours article {
      width: 300px;
      border: 1px solid #e3e3e3;
      box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
      border-radius: .5rem;
      -webkit-border-radius: .5rem;
      -moz-border-radius: .5rem;
      -ms-border-radius: .5rem;
      -o-border-radius: .5rem;
    }
    
    article img {
      height: 200px;
      border-top-left-radius: .5rem;
      border-top-right-radius: .5rem;
    }
}